In [28]:
# https://mortada.net/the-traveling-tesla-salesman.html
from IPython.display import Image
Image(url='https://imgs.xkcd.com/comics/travelling_salesman_problem.png')

In [29]:
import pandas as pd
import numpy as np

In [30]:
parser = pd.read_csv('parser.csv')

In [31]:
TSP_data = parser[parser['settlement'] == 'Москва'][['settlement','latitude', 'longitude']]
TSP_data.reset_index()

    index settlement   latitude  longitude
0       0     Москва  55.804936  37.589922
1       1     Москва  55.524047  37.518347
2      15     Москва  55.888256  37.589363
3      17     Москва  55.710687  37.670465
4      19     Москва  55.719987  37.776215
5      20     Москва  55.767332  37.524228
6      21     Москва  55.679895  37.568497
7      23     Москва  55.762399  37.619117
8      24     Москва  55.724124  37.825155
9      25     Москва  55.617276  37.715622
10     26     Москва  55.685320  37.540156
11     27     Москва  55.819392  37.578314
12     28     Москва  55.662136  37.547046
13     29     Москва  55.837380  37.744227
14     31     Москва  55.659622  37.747738
15     32     Москва  55.789856  37.631422
16     34     Москва  55.664472  37.599238
17     38     Москва  55.655923  37.541505
18     39     Москва  55.746299  37.546174
19     40     Москва  55.688862  37.540668
20     41     Москва  55.745904  37.559910
21     42     Москва  55.752931  37.576024
22     43     Москва  55.723460  37.585404
23     44     Москва  55.805275  37.800874

In [32]:
def distance_on_earth(lat1, long1, lat2, long2, radius=6378.388):
    """
    Compute distance between two points on earth specified by latitude/longitude.
    The earth is assumed to be a perfect sphere of given radius. The radius defaults
    to 6378.388 kilometers. To convert to miles, divide by 1.60934
    
    Reference
    ---------
    Adopted from John D. Cook's blog post: 
    http://www.johndcook.com/blog/python_longitude_latitude/
    """
    # Convert latitude and longitude to spherical coordinates in radians.
    degrees_to_radians = np.pi / 180.0

    # phi = 90 - latitude
    phi1 = (90.0 - lat1) * degrees_to_radians
    phi2 = (90.0 - lat2) * degrees_to_radians

    # theta = longitude
    theta1 = long1 * degrees_to_radians
    theta2 = long2 * degrees_to_radians
         
    # Compute spherical distance from spherical coordinates.     
    cos = (np.sin(phi1) * np.sin(phi2)* np.cos(theta1 - theta2) + 
           np.cos(phi1) * np.cos(phi2))
    arc = np.arccos(cos)
    rv = arc * radius
    return rv

In [ ]:
# get distances between all pairs
mile_in_km = 1.60934
distances = {}
for i in range(len(sc_names)):
    a = sc_names[i]
    distances[a] = {}
    for j in range(len(sc_names)):
        b = sc_names[j]
        if j == i:
            distances[a][b] = 0.
        elif j > i:
            distances[a][b] = distance_on_earth(coords.ix[a, 'lat'],
                                                coords.ix[a, 'lng'],
                                                coords.ix[b, 'lat'],
                                                coords.ix[b, 'lng'])
        else:
            distances[a][b] = distances[b][a]
distances = pd.DataFrame(distances) / mile_in_km